<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/head'); %>
        <link rel="stylesheet" href="css/dashboard.css"/>
        <link rel="stylesheet" href="css/header-style.css">
        <script> 
        </script>
    </head>
<body>
    <header>
        <!-- oude button voor nu -->
        <nav class="navbar" style="">
            <h1 style="margin: 0;" id="roomcodeContainer"></h1>
            <button class="start-btn" onclick="openForm()">Start</button>
        </nav>
    </header>
<main>
    <div class="errorBox">
        <h1>dit is een error</h1>
    </div>
<div class="dashboard-container">


    <%
    items = JSON.parse(items); 
    console.log(items);
    var count = 0;


    items.forEach(function(item) { count++;%>
        
    <div class="dashboard-listing">
        <div class="dashboard-listing-left">
            <span class="dashboard-listing-title"> <%= count %>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= item.name; %> </span>
        </div>
        <div class="dashboard-listing-right">
            <button class="dashboard-button" onclick="javascript:edit(<%= item.id %>)"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 194.436 194.436" style="enable-background:new 0 0 194.436 194.436;" xml:space="preserve"><g><path d="M192.238,34.545L159.894,2.197C158.487,0.79,156.579,0,154.59,0c-1.989,0-3.897,0.79-5.303,2.196l-32.35,32.35 c-0.004,0.004-0.008,0.01-0.013,0.014L54.876,96.608c-1.351,1.352-2.135,3.166-2.193,5.076l-1.015,33.361 c-0.063,2.067,0.731,4.068,2.193,5.531c1.409,1.408,3.317,2.196,5.303,2.196c0.076,0,0.153-0.001,0.229-0.004l33.36-1.018 c1.909-0.058,3.724-0.842,5.075-2.192l94.41-94.408C195.167,42.223,195.167,37.474,192.238,34.545z M154.587,61.587L132.847,39.85 l21.743-21.743l21.738,21.741L154.587,61.587z M89.324,126.85l-22.421,0.685l0.682-22.422l54.655-54.656l21.741,21.738 L89.324,126.85z"/><path d="M132.189,117.092c-4.142,0-7.5,3.357-7.5,7.5v54.844H15.001V69.748h54.844c4.142,0,7.5-3.357,7.5-7.5s-3.358-7.5-7.5-7.5 H7.501c-4.142,0-7.5,3.357-7.5,7.5v124.687c0,4.143,3.358,7.5,7.5,7.5h124.687c4.142,0,7.5-3.357,7.5-7.5v-62.344 C139.689,120.449,136.331,117.092,132.189,117.092z"/></g></svg></button>
            <button class="dashboard-button"onclick="javascript:deleteAssignment(<%= item.id %>)"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 297 297" style="enable-background:new 0 0 297 297;" xml:space="preserve"><g><g><g><path d="M229.554,145.738l4.264-51.168h7.462c5.646,0,10.224-4.578,10.224-10.224V65.688c0-17.596-14.316-31.912-31.912-31.912 h-35.564v-4.723C184.028,13.032,170.994,0,154.975,0h-29.82c-16.02,0-29.052,13.032-29.052,29.052v4.723H60.539 c-17.596,0-31.912,14.316-31.912,31.912v18.658c0,5.646,4.578,10.224,10.224,10.224h7.462L60.205,261.3 c1.668,20.019,18.711,35.7,38.799,35.7h82.119c19.849,0,36.715-15.313,38.723-34.991c27.664-5.705,48.527-30.251,48.527-59.579 C268.374,176.649,252.245,154.579,229.554,145.738z M116.551,29.052c0-4.744,3.86-8.604,8.604-8.604h29.82 c4.745,0,8.605,3.86,8.605,8.604v4.723h-47.029V29.052z M49.073,74.123v-8.435c0-6.322,5.143-11.465,11.465-11.465h159.053 c6.322,0,11.465,5.143,11.465,11.465v8.435H49.073z M181.124,276.552H99.005c-9.538,0-17.63-7.445-18.422-16.95L66.83,94.57 h146.469l-3.923,47.076c-0.611-0.018-1.22-0.047-1.835-0.047c-33.543,0-60.831,27.289-60.831,60.831 c0,30.647,22.785,56.06,52.303,60.221C196.942,270.65,189.614,276.552,181.124,276.552z M207.541,242.814 c-22.268,0-40.384-18.116-40.384-40.384s18.116-40.384,40.384-40.384s40.384,18.116,40.384,40.384 S229.809,242.814,207.541,242.814z"/><path d="M222.002,202.431l9.64-9.64c3.991-3.993,3.991-10.467-0.002-14.459c-3.994-3.992-10.465-3.992-14.459,0l-9.64,9.64 l-9.64-9.64c-3.994-3.992-10.465-3.992-14.459,0c-3.993,3.993-3.993,10.466,0,14.459l9.64,9.64l-9.64,9.64 c-3.993,3.993-3.993,10.466,0,14.459c1.997,1.996,4.613,2.994,7.23,2.994s5.233-0.998,7.23-2.994l9.64-9.64l9.64,9.64 c1.997,1.996,4.613,2.994,7.23,2.994c2.617,0,5.233-0.998,7.23-2.994c3.993-3.993,3.993-10.466,0-14.459L222.002,202.431z"/></g></g></g></svg></button>
            <input type="checkbox" class="dashboard-button dashboard-checkbox cb" onchange="cbChange(this)"></input>
        </div>
    </div>
    <% }); %>


    

</div> 
</main>
<%- include('../components/footer'); %>

<script>
    function cbChange(obj) {
    var cbs = document.getElementsByClassName("cb");
    for (var i = 0; i < cbs.length; i++) {
        cbs[i].checked = false;
    }
    obj.checked = true;
}


function CreateRoomFor(id){
  fetch('/create-room',{
      method: "POST",
      // Set the headers
      headers: {'Accept': 'application/json','Content-Type': 'application/json' },
      // Set the post data
      body: JSON.stringify({assignmentId: id})
  })
  .then((response) => response.json())
  .then(function(data) {
       console.log(data);
       
       const roomcodeContainer = document.getElementById('roomcodeContainer');
       roomcodeContainer.innerHTML = 'Roomcode: ' + data.roomcode;
       roomcodeContainer.style.display = 'block';

       documentdashboard-container
       
  });
}

function deleteAssignment(id){
    let isExecuted = confirm("Weet je zeker dat je deze opdracht wilt verwijderen?");
    if(isExecuted){
        fetch('/deleteAssignment',{
            method: "POST",
            // Set the headers
            headers: {'Accept': 'application/json','Content-Type': 'application/json' },
            // Set the post data
            body: JSON.stringify({assignmentId: id})
        })
        .then((response) => response.json())
        .then(function(data) {
            if(!data.error){
                location.reload();
            }else{
                 console.log(data.message);
                // console.log(JSON.parse(data.message));
                document.querySelector('.errorBox h1').innerHTML = JSON.parse(data.message).sqlMessage;
                document.querySelector('.errorBox').style.transform = 'translateX(0)';
                setTimeout(function(){
                    document.querySelector('.errorBox').style.transform = 'translateX(100%)';
                }, 6000);
            }
        });
    }
}
</script>
</body>
</html>